.venv/
__pycache__/
.pytest_cache/
examples/selector_cache.json
*.pyc
.superpowers/
dist/
build/
*.egg-info/
.ruff_cache/
selector_cache.json
/nodejs
/nodejs/
*.egg-info
.eggs/
.coverage
htmlcov/

auth.json
